{% extends 'basic_app/basic_app_base.html' %}

{% block body_block %}

<div class="'jumbotron">
    <h1>Welcome to Detail view of School!!</h1>
    <h2>School Detail:</h2>
    <p>Name: {{school_detail.name}}</p>
    <p>Name: {{school_detail.principal}}</p> 
    <p>Name: {{school_detail.location}}</p>
 <h3>Studnets</h3>
{% for Student in school_detail.students.all %}
<p>{{Student.name}} who is {{Student.age}}</p>
{% endfor %}
</div>
<div class="container-fluid">
<p>
    <a class="btn btn-warning" href="{%url 'basic_app:update' pk=school_detail.pk %}">Update</a>
    <a class="btn btn-danger" href="{% url 'basic_app:delete' pk=school_detail.pk %}">Delete</a>
</p>
</div>


{% endblock %}